---
import Layout from "../layouts/Layout.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Section from "../components/Section.astro";
import { Tabs } from "../components/react/Tabs/index";

// List of technologies
const techstack = [
    "astro",
    "docker",
    "kubernetes",
    "next",
    "node",
    "php",
    "react",
    "typescript",
];

// Project tabs
const projectTabs = [
    {
        text: "all projects",
        icon: "/icons/list.svg",
        content: [
            {
                icon: "/logo.png",
                title: "Open Foundation Site",
                description: "Website for the Open Foundation.",
                href: "https://github.com/open-foundation-team/open-foundation-site",
            },
            {
                title: "Poker Planning",
                description: "Scrum Poker for agile teams.",
                href: "https://github.com/open-foundation-team/poker-planning",
            },
        ],
    },
    {
        text: "typescript",
        icon: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg",
        content: [
            {
                title: "Poker Planning",
                description: "Scrum Poker for agile teams.",
                href: "https://github.com/open-foundation-team/poker-planning",
            },
        ],
    },
];
---

<Layout title="Open Foundation - Open Source">
    <main>
        <!-- Hero section -->
        <Section isPrimary>
            <div class="hero-section">
                <div class="hero-text">
                    <p class="hero-heading">
                        Developing software for the future, taking an Open
                        Source approach.
                    </p>
                    <p class="hero-sub">
                        Here at Open Foundation, we take Open Source seriously,
                        by being open, we empower developers and businesses to
                        deliver powerful and inovative ideas.
                    </p>
                </div>
                <img class="hero-image" src="/space.svg" alt="" />
            </div>
        </Section>

        <!-- Projects section -->
        <Section noSeparator>
            <div class="project-section">
                <Tabs tabs={projectTabs} client:load />
            </div>
        </Section>

        <!-- Languages section -->
        <Section>
            <div class="languages-section">
                <div class="languages-text">
                    <p class="title">Our varied tech stack</p>
                    <p class="subtitle">
                        We apply the cutting edge technologies that matter.
                    </p>
                </div>
                <div class="languages-icons">
                    {
                        techstack.map((logo) => (
                            <img
                                class="tech-logo"
                                src={`/techstack/${logo}.png`}
                                alt={`${logo} logo`}
                            />
                        ))
                    }
                </div>
            </div>
        </Section>

        <!-- Work with us section -->
        <Section isPrimary noSeparator>
            <div class="work-section">
                <p class="work-title">We'd love to work with you!</p>
                <p class="work-subtitle">
                    Have a project in mind? Leave us a message after the tone 🎶
                </p>
                <ButtonLink href="/contact">Let's build together</ButtonLink>
            </div>
        </Section>
    </main>
</Layout>

<style>
    main {
        margin-top: 12dvh;
    }

    .hero-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        width: 100%;

        .hero-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            width: 50%;
            line-height: 1.5;

            .hero-heading {
                font-size: 1.75rem;
                font-weight: 600;
            }

            .hero-sub {
                font-weight: 100;
            }
        }

        .hero-image {
            width: 50%;
        }

        @media screen and (max-width: 1024px) {
            .hero-text {
                width: 100%;
            }

            .hero-image {
                display: none;
            }
        }
    }

    .project-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4rem;

        width: 100%;
        margin-bottom: 5rem;
    }

    .languages-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        .languages-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .title {
                font-size: 1.5rem;
                font-weight: 600;
                color: #7f7f7f;
            }
            .subtitle {
                font-weight: 100;
                color: #7f7f7f;
            }
        }

        .languages-icons {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            .tech-logo {
                width: 60px;
            }
        }
    }

    .work-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding: 3rem 0;

        .work-title {
            font-size: 2rem;
            font-weight: 600;
        }
    }
</style>
