---
interface Link {
    text: string;
    href: string;
}

interface Props {
    linkGroups: {
        title: string;
        links: Link[];
    }[];
}

const { linkGroups } = Astro.props;
---

<footer class="footer-styled">
    <div class="footer-content">
        <div class="footer-top">
            {
                linkGroups.map((group) => (
                    <div class="footer-group">
                        <p class="group-title">{group.title}</p>
                        <ul class="group-links">
                            {group.links.map((link) => (
                                <li>
                                    <a href={link.href}>{link.text}</a>
                                </li>
                            ))}
                        </ul>
                    </div>
                ))
            }
        </div>
        <div class="spacer"></div>
        <div class="footer-bottom">
            <p>
                Open Foundation ©️ {new Date().getFullYear()} - All rights reserverd.
            </p>
            <p>team@openfoundation.com</p>
        </div>
    </div>
</footer>

<style type="sass">
    .footer-styled {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 45dvh;

        background: #fff;

        padding-top: 2rem;

        .footer-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            height: 100%;
            width: 100%;
            padding: 1rem;

            .footer-top {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 2rem;

                height: 100%;
                width: 100%;

                .footer-group {
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 1.5rem;

                    .group-title {
                        font-size: 1.1rem;
                        font-weight: 600;
                        text-transform: capitalize;
                    }

                    .group-links {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 0.75rem;

                        text-transform: capitalize;

                        a {
                            color: #000;
                            &:hover {
                                color: #9956c0;
                            }
                        }
                    }
                }
            }

            .footer-bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                font-weight: 100;
                color: #909090;
            }

            .spacer {
                width: 100%;
                border-bottom: 1px solid #d2d3d3;
            }
        }

        .footer-content {
            @media screen and (min-width: 640px) {
                max-width: 640px;
            }
            @media screen and (min-width: 768px) {
                max-width: 768px;
            }
            @media screen and (min-width: 1024px) {
                max-width: 1024px;
            }
            @media screen and (min-width: 1280px) {
                max-width: 1280px;
            }
        }
    }
</style>
