---
interface Props {
    isPrimary?: boolean;
    noSeparator?: boolean;
}

const { isPrimary, noSeparator } = Astro.props;
---

<div
    class:list={[
        "section-styled",
        { primary: isPrimary, separator: !noSeparator },
    ]}
>
    <div class="section-content">
        <slot />
    </div>
</div>

<style type="sass">
    .section-styled {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        &.separator {
            border-bottom: 1px solid #d8d8d8;
        }

        &.primary {
            background: #f8f8f8;
        }

        .section-content {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 100%;
            padding: 2rem 1rem;
        }

        .section-content {
            @media screen and (min-width: 640px) {
                max-width: 640px;
            }
            @media screen and (min-width: 768px) {
                max-width: 768px;
            }
            @media screen and (min-width: 1024px) {
                max-width: 1024px;
            }
            @media screen and (min-width: 1280px) {
                max-width: 1280px;
            }
        }
    }
</style>
