---
import Header from "../components/Header.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header
            logo="/logo.png"
            siteName="Open Foundation"
            links={[
                { text: "Open Source", href: "/" },
                {
                    text: "Github",
                    href: "https://github.com/open-foundation-team",
                },
            ]}
        />
        <slot />
    </body>
</html>

<style is:global type="sass">
    @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        min-width: 0;
        font: inherit;
        font-size: 100%;
        font-family: "Lato", sans-serif;
        vertical-align: baseline;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    a {
        text-decoration: none;
    }
</style>
